:root {
  --main-color: #2196f3;
  --main-family: Roboto, sans-serif;
  --main-text-color: #757575;
  --title-color: #212121;
  --blacklogo-color: #000;
  --white-title-color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title-none {
  display: none;
}

/* Общий стиль */
.page {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.section {
  margin-bottom: 94px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

.list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Логотип */
.logo,
.logo:focus {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blacklogo-color);
}

.logo-web {
  color: var(--main-color);
}

/* Навигация */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.flex-nav-item {
  display: flex;
  margin-left: 93px;
}

.flex-nav-item .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.activ-menu {
  color: var(--main-color);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--main-color);
}

.flex-connect {
  display: flex;
}

.flex-connect .item:not(:last-child) {
  margin-right: 50px;
}

.conect-nav {
  color: var(--main-text-color);
}

/* Баннер */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;

  background-color: #2f303a;
  text-align: center;
}

.banner {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-title-color);
}

.main-btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-family: var(--main-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-title-color);
  background-color: var(--main-color);

  cursor: pointer;
}

.activ-btn:hover,
.activ-btn:focus {
  color: var(--white-title-color);
  background: var(--main-color);
}

/* Особенности */
.features-flex {
  display: flex;
  justify-content: space-between;
}

.features-flex .item {
  width: 270px;
}

.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Чем мы занимаемся */
.sect {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
.sect-img {
  display: flex;
  justify-content: space-between;
}

.sect-img img {
  display: block;
}

/* Наша команда */
.command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.sect-list .item {
  margin-bottom: 10px;
}

.team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.sect-list {
  padding-bottom: 30px;
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
}

/* Адрес */
.foot-logo,
.foot-logo:focus {
  margin-bottom: 20px;

  color: var(--white-title-color);
}

.mail,
.tel {
  display: inline-block;

  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.mail:hover,
.tel:hover,
.mail:focus,
.tel:focus {
  color: var(--main-color);
}

a.mail {
  margin-bottom: 9px;
}

.adr {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #2f303a;
}

.foot-adr {
  margin-top: 0;
  margin-bottom: 9px;

  font-style: normal;
  color: var(--white-title-color);
}

/* Портфолио фильтр */
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.port-nav {
  margin-bottom: 34px;
}

.port-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-family: var(--main-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;

  cursor: pointer;
}

.port-btn:hover,
.port-btn:focus {
  color: var(--white-title-color);
  background: var(--main-color);
}

/* Портфолио услуги*/
.services {
  margin: 0 24px 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.serv-text {
  margin-left: 24px;
  margin-right: 24px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.port-list {
  margin-bottom: 20px;
}

.port li {
  padding-bottom: 20px;
}
